APP_SECRET_KEY=QrnWczTItnpJtSjvYYmfK1l4EpVmGzKTO6ytY2_-oV9alji2oSaR_9LPYr-KT2nw
BOOTSTRAP_ADMIN_PASSWORD=pass
BOOTSTRAP_ADMIN_USER=admin
COOKIE_SECURE=false
DEFAULT_MACHINE_ID=B16-MTV-07
FRONTEND_ORIGIN=http://localhost:5173
PG_COL_A_PEAK_MPS2=apeak
PG_COL_A_RMS_MPS2=arms
PG_COL_CREST_FACTOR=crest
PG_COL_MACHINE_ID=mach_id
PG_COL_TEMPERATURE_C=temp
PG_COL_TIMESTAMP=datetime
PG_COL_V_RMS_MMS=vrms
PG_DATABASE=<insert>
PG_HOST=<insert>
PG_PASSWORD=<insert>
PG_PORT=5432
PG_TABLE=p1_sel5_vibration
PG_USER=<insert>